a:hover {
  text-decoration: underline;
}

.socials {
  transition: background-color 0.7s, color 0.7s;
}
.socials:hover {
  transition: background-color 0.3s, color 0.3s;
}

.socials.twitter {
  background-color: #fff;
  color: #55acee;
}
.socials.twitter:hover {
  background-color: #55acee;
  color: #fff;
}

.socials.instagram {
  background-color: #fff;
  color: #3f729b;
}
.socials.instagram:hover {
  background-color: #3f729b;
  color: #fff;
}

.socials.github {
  background-color: #fff;
  color: #333;
}
.socials.github:hover {
  background-color: #333;
  color: #fff;
}

.socials.discord {
  background-color: #fff;
  color: #7289da;
}
.socials.discord:hover {
  background-color: #7289da;
  color: #fff;
}

.socials.email {
  background-color: #fff;
  color: #ff4136;
}
.socials.email:hover {
  background-color: #ff4136;
  color: #fff;
}

.socials.youtube {
  background-color: #fff;
  color: #ff0000;
}
.socials.youtube:hover {
  background-color: #ff0000;
  color: #fff;
}

.socials.twitch {
  background-color: #fff;
  color: #6441a5;
}
.socials.twitch:hover {
  background-color: #6441a5;
  color: #fff;
}
.socials.linkedin {
  background-color: #fff;
  color: #0077b5;
}
.socials.linkedin:hover {
  background-color: #0077b5;
  color: #fff;
}

.socials.lastfm {
  background-color: #fff;
  color: #d51007;
}
.socials.lastfm:hover {
  background-color: #d51007;
  color: #fff;
}

.socials.applemusic {
  background-color: #fff;
  color: #ff2f56;
}
.socials.applemusic:hover {
  background-color: #ff2f56;
  color: #fff;
}

.socials.cv {
  background-color: #fff;
  color: #111;
}
.socials.cv:hover {
  background-color: #111;
  color: #fff;
}
