.blog-container {
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    width: 800px;
}

.blog-container p > iframe,
.blog-container p > img,
.blog-container > iframe,
.blog-container > .twitter-tweet {
    display: block;
    margin: 15px auto !important;
}
