---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Tomo Uchuu">
  <div class="min-h-screen bg-fixed bg-no-repeat bg-center 2xl:bg-right bg-cover ffbg">
    <div class="absolute bottom-0 right-0 w-full lg:w-7/12 xl:w-5/12 backdrop-blur-sm p-8 md:p-12 rounded-tl-xl bg-neutral-900/80 text-white">
      <main class="text-base">
        <section class="lg:inline-block text-center">
          <h1 class="text-6xl">Tomo Uchuu</h1>
          <h2 class="text-3xl">Chaos - Omega</h2>
        </section>
  
        <section class="my-6 flex flex-wrap gap-4">
          <a class="border-2 border-white py-2 px-4 text-lg uppercase tracking-widest font-bold transition-colors duration-300 hover:bg-black" href="https://twitter.com/tomouchuu_ffxiv">Twitter</a>
          <a class="border-2 border-white py-2 px-4 text-lg uppercase tracking-widest font-bold transition-colors duration-300 hover:bg-black" href="https://www.twitch.tv/tomouchuu">Twitch</a>
          <a class="border-2 border-white py-2 px-4 text-lg uppercase tracking-widest font-bold transition-colors duration-300 hover:bg-black" href="discord:tomouchuu#4946">Discord</a>
          <a class="border-2 border-white py-2 px-4 text-lg uppercase tracking-widest font-bold transition-colors duration-300 hover:bg-black" href="https://eu.finalfantasyxiv.com/lodestone/character/16899179/">Lodestone</a>
          <a class="border-2 border-white py-2 px-4 text-lg uppercase tracking-widest font-bold transition-colors duration-300 hover:bg-black" href="https://www.fflogs.com/character/id/11586090">Secret</a>
        </section>
  
        <section>
          <p class="text-xl">Tomo is an experienced adventurer within Etheirys and is always happy to support fellow adventurers.</p>
          <p>Most known for his Dancer and Bard, Tomo is a lalafell who <span class="line-through">loves</span> being petted and uses Red Carbuncle ears to make himself taller.
          Frequently can be found in Limsa, Kugane Tower or in the neighbourhood of his beach-front house in Mist Ward 20 on Omega. He also frequents <a class="underline" href="https://phoenixnights.club/" target="_blank" rel="noopener">Phoenix Nights</a> for Nightclub+Gamba!</p>
        </section>
  
        <div class="mt-6 grid grid-cols-2">
          <section>
            <h3 class="text-2xl">Currently</h3>
            <ul class="list-disc list-inside">
              <li>Pandamonium (5-8) Savage</li>
              <li>Improving speedrun of Kugane Tower</li>
              <li>Leveling MCH + SGE</li>
              <li>Dragon mounts</li>
              <li>Lynx mounts</li>
              <li>RP ...unless?</li>
            </ul>
          </section>
          <section>
            <h3 class="text-2xl">Achievements</h3>
            <ul class="list-disc list-inside">
              <li>Pandamonium (1-4) Savage</li>
              <li>The Epic of Alexander Ultimate</li>
              <li>Eden Savages (5-12 on release patch)</li>
              <li><span class="ordinal">13th</span> Best DNC at Titania EX in 5.4</li>
            </ul>
          </section>
        </div>
      </main>
    </div>
  </div>
</Layout>
<style>
  .ffbg {
    background-image: url('/images/ffbg.png');
  }
</style>