---
import SubPage from "../layouts/SubPage.astro";
import Idol from "../components/Idol.astro";
---
<SubPage title="Tomo's favourite idols">
  <div class="container md:max-w-screen-md mx-auto text-lg p-4 md:py-6 md:px-0">
    <h1 class="my-4 text-6xl text-center">Oshimen List</h1>
    <Idol
      imgSrc="/public/images/idols/sayucha.jpg"
      imgAlt="Sayucha"
      colour="#1fb8d3"
      name="Sayuri Kiuchi (Sayucha)"
      jpName="木内小百合 (さゆちゃ)"
      group="Papipupepo wa muzukashii - パピプペポは難しい"
      blurb="I went to see another group but was absolutely entranced by Sayucha and Papimuzu. She was in a maid outfit (turns out it was a cosplay show) and she knew a little bit of english so we could chat while taking chekis. Being a chika idol, we developed a great relationship over twitter while I was back home and fuels the desire to go back and see her whenever I can. She can also play the guitar and always wants to know what I'm up to."
      twitterUrl="https://twitter.com/sayuri_ppppphm"
    />
    <Idol
      imgSrc="/public/images/idols/ao.jpg"
      imgAlt="Ao"
      colour="#76c2ef"
      name="Yamato Ao"
      jpName="大和明桜"
      group="Niji no conquistador - 虹のコンキスタドール"
      blurb="Ao is always super interesting and loves to learn about the world. It's all so fascinating to her. She is trying her hardest at learning english to make talking easier and other skills since she is doing her best to stand out from a stacked idol group. We first met in France so it's a running joke that I'm french. It's always a fun time talking to her."
      twitterUrl="https://twitter.com/yamato__ao"
    />
    <Idol
      imgSrc="/public/images/idols/yuipon.jpg"
      imgAlt="Yuipon"
      colour="#b91d29"
      name="Shirahane Yui (Yuipon)"
      jpName="白羽根優衣 (ゆいぽん)"
      group="Papipupepo wa muzukashii - パピプペポは難しい"
      blurb="As papimuzu is a smaller group, you will always end up interacting with the other members. For yuipon I would tune into her Pococha streams and became more interested in her twitter. Now we play Lords Mobile together (leftover from a collaboration competition). She is a really relatable idol, not afraid to chat about negatives, her part time job and I want to make her happy."
      twitterUrl="https://twitter.com/yui_ppppphm"
    />
    <Idol
      imgSrc="/public/images/idols/miyabi.jpg"
      imgAlt="Miyabi"
      colour="#9600ff"
      name="Kanzaki Miyabi"
      jpName="神咲雅"
      group="Ame no solaris - 雨模様のソラリス"
      blurb='Miyabi is part of a more "rockier" group than I usually listen to but as she is a member of DSPMStars and Dearstage I had some exposure to her. I really found her endearing as she is always trying her hardest even when the odds are stacked against her. The brightest spark is a campaign on yellLive with the winner becomming a SPINNS model, we were up against so many established idols but we managed to get her the win.'
      twitterUrl="https://twitter.com/_M_kanzzzzzakki"
    />
    <hr class="w-3/4 mx-auto my-3" />
    <Idol
      imgSrc="/public/images/idols/risano.jpg"
      imgAlt="Risano"
      colour="#f37f34"
      name="Risano"
      jpName=""
      group="Lyrical School - リリカルスクール"
      blurb="With risano spending a bunch of time in LA, her english is great and it's fantastic to talk to her. I admit it's not as much as I should for all she has done for me but it's been a ton of fun. Highlight was when I got a ticket for one of Lyrical School's shows and she shouted me out at the end in like a 1000 capacity venue."
      twitterUrl="https://twitter.com/risano_0928"
    />
    <Idol
      imgSrc="/public/images/idols/mirin.jpg"
      imgAlt="Mirin"
      colour="#d62215"
      name="Furukawa Mirin"
      jpName="古川未鈴"
      group="Dempagumi.inc - でんぱ組.inc"
      blurb="Mirin was my first idol that I would do anything for. I've been blessed because of that mindset to be able to see them many times (including 3 times at Budoukan) and met tonnes of friends because of her."
      twitterUrl="https://twitter.com/FurukawaMirin"
    />
  </div>
</SubPage>