body {
	background-color: #fff;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	color: #111;
}

a {
	color: #aa201d;
	transition: all 0.2s;
}
a:hover {
	transition: all 0.2s;
}
