---
import { Twitter } from "./Socials";
---

<p class="my-2 text-lg">
  <a
    href="https://www.twitter.com/tomouchuu"
    title="To my twitter"
    target="_blank"
    rel="noopener"
  >
    <Twitter className="inline-block align-text-top mr-2" />
  </a>
  <span
    >Since twitter api sucks now, here is just a message to say check my twitter
    I guess.</span
  >
</p>
