---
import {FontAwesomeIcon} from '@fortawesome/react-fontawesome';
import {faTwitter} from '@fortawesome/free-brands-svg-icons';
---
<p class="my-2 text-lg">
  <a href="https://www.twitter.com/tomouchuu" title="To my twitter" target="_blank" rel="noopener"><FontAwesomeIcon icon={faTwitter} size="lg" fixedWidth className="mr-1" /></a>
  <span>Since twitter api sucks now, here is just a message to say check my twitter I guess.</span>
</p>