@import "tailwindcss";

@custom-variant dark (&:where([data-kb-theme=dark], [data-kb-theme=dark] *));

:root {
  --background: hsl(220 23.076923191547394% 94.90196108818054%); /* base */
  --foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */

  --muted: hsl(223 15.909090638160706% 82.74509906768799%); /* surface0 */
  --muted-foreground: hsl(
    233 12.796208262443542% 41.372549533843994%
  ); /* subtext1 */

  --popover: hsl(220 23.076923191547394% 94.90196108818054%); /* base */
  --popover-foreground: hsl(
    234 16.022099554538727% 35.49019694328308%
  ); /* text */

  --card: hsl(220 23.076923191547394% 94.90196108818054%); /* base */
  --card-foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */

  --border: hsl(225 13.55932205915451% 76.86274647712708%); /* surface1 */
  --input: hsl(225 13.55932205915451% 76.86274647712708%); /* surface1 */

  --primary: hsl(
    189 69.953054189682% 41.76470637321472%
  ); /* accent - Sapphire */
  --primary-foreground: hsl(
    220 23.076923191547394% 94.90196108818054%
  ); /* base */

  --secondary: hsl(223 15.909090638160706% 82.74509906768799%); /* surface0 */
  --secondary-foreground: hsl(
    234 16.022099554538727% 35.49019694328308%
  ); /* text */

  --accent: hsl(223 15.909090638160706% 82.74509906768799%); /* surface0 */
  --accent-foreground: hsl(
    234 16.022099554538727% 35.49019694328308%
  ); /* text */

  --destructive: hsl(347 86.66666746139526% 44.11764740943909%); /* red */
  --destructive-foreground: hsl(
    220 21.95121943950653% 91.96078181266785%
  ); /* mantle */

  --ring: hsl(234 16.022099554538727% 35.49019694328308%); /* text */

  --radius: 0.5rem;

  --chart-1: hsl(347 86.66666746139526% 44.11764740943909%); /* red */
  --chart-2: hsl(183 73.86363744735718% 34.50980484485626%); /* teal */
  --chart-3: hsl(220 91.4893627166748% 53.921568393707275%); /* blue */
  --chart-4: hsl(35 76.98412537574768% 49.41176474094391%); /* yellow */
  --chart-5: hsl(109 57.63546824455261% 39.803922176361084%); /* green */

  --social-white: 0 0% 100%;
}

[data-kb-theme="dark"] {
  --background: hsl(240 21.052631735801697% 14.901961386203766%); /* base */
  --foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */

  --muted: hsl(237 16.239316761493683% 22.94117659330368%); /* surface0 */
  --muted-foreground: hsl(
    227 35.29411852359772% 80.0000011920929%
  ); /* subtext1 */

  --popover: hsl(240 21.052631735801697% 14.901961386203766%); /* base */
  --popover-foreground: hsl(
    226 63.93442749977112% 88.03921341896057%
  ); /* text */

  --card: hsl(240 21.052631735801697% 14.901961386203766%); /* base */
  --card-foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */

  --border: hsl(234 13.20754736661911% 31.176471710205078%); /* surface1 */
  --input: hsl(234 13.20754736661911% 31.176471710205078%); /* surface1 */

  --primary: hsl(
    199 75.94936490058899% 69.01960968971252%
  ); /* accent - Sapphire */
  --primary-foreground: hsl(
    240 21.052631735801697% 14.901961386203766%
  ); /* base */

  --secondary: hsl(237 16.239316761493683% 22.94117659330368%); /* surface0 */
  --secondary-foreground: hsl(
    226 63.93442749977112% 88.03921341896057%
  ); /* text */

  --accent: hsl(237 16.239316761493683% 22.94117659330368%); /* surface0 */
  --accent-foreground: hsl(
    226 63.93442749977112% 88.03921341896057%
  ); /* text */

  --destructive: hsl(343 81.25% 74.90196228027344%); /* red */
  --destructive-foreground: hsl(
    240 21.311475336551666% 11.96078434586525%
  ); /* mantle */

  --ring: hsl(226 63.93442749977112% 88.03921341896057%); /* text */

  --radius: 0.5rem;

  --chart-1: hsl(343 81.25% 74.90196228027344%); /* red */
  --chart-2: hsl(170 57.35294222831726% 73.33333492279053%); /* teal */
  --chart-3: hsl(217 91.86992049217224% 75.88235139846802%); /* blue */
  --chart-4: hsl(41 86.04651093482971% 83.13725590705872%); /* yellow */
  --chart-5: hsl(115 54.09836173057556% 76.07843279838562%); /* green */
}

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-chart1: var(--chart-1);
  --color-chart2: var(--chart-2);
  --color-chart3: var(--chart-3);
  --color-chart4: var(--chart-4);
  --color-chart5: var(--chart-5);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
