---
import Layout from './Layout.astro';
import ThemeToggle from "../components/ThemeToggle";

export interface Props {
	title: string;
  isResume?: boolean
}

const { isResume, title } = Astro.props;
---

<Layout title={title}>
  <div class="min-h-screen transition-colors duration-300 dark:bg-neutral-900 dark:text-white">
    {!isResume && (
      <div class="pt-4 px-4 flex items-center justify-between">
        <a href="/" class="text-2xl">Back</a>
        <ThemeToggle client:only />
      </div>
    )}
    <slot />
  </div>
</Layout>